.screen-background {
  width: calc(280px - 10px);
  height: calc(530px - 5px);
  border-radius: 35px;
  background: url("../wallpaper/default-3.png") no-repeat;
  background-size: cover;
  z-index: 1;
  position: fixed;
  margin-top: -2px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lockscreen {
  width: calc(100% - 8px);
  height: calc(100% - 14px);

  display: flex;
  flex-direction: column;
  overflow: hidden;

  transition-property: transform, -webkit-backdrop-filter;
  transition-duration: .4s;
  transition-timing-function: ease-in;
}

.homescreen {
  width: calc(280px - 10px);
  height: calc(530px - 5px);

  display: flex;
  flex-direction: column;

  transition-property: transform, -webkit-backdrop-filter;
  transition-duration: .4s;
  transition-timing-function: ease-in;
  position: absolute;
  z-index: 0;
}

.homescreen-icons-zone {
  width: calc(100% - 20px);
  height: calc(100% - 140px);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 5px 0px;
  justify-items: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
}

@keyframes homescreen-icon-zone-appearance-1 {
  0% {
    opacity: 0;
    transform: translateY(0px) translateX(-30px) scale(1.3);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes homescreen-icon-zone-appearance-2 {
  0% {
    opacity: 0;
    transform: translateY(0px) translateX(-30px) scale(1.3);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes homescreen-icon-zone-appearance-3 {
  0% {
    opacity: 0;
    transform: translateY(0px) translateX(30px) scale(1.3);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes homescreen-icon-zone-appearance-4 {
  0% {
    opacity: 0;
    transform: translateY(0px) translateX(60px) scale(1.3);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes homescreen-icon-zone-appearance-5 {
  0% {
    opacity: 0;
    transform: translateY(30px) translateX(-60px) scale(1.3);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes homescreen-icon-zone-appearance-6 {
  0% {
    opacity: 0;
    transform: translateY(30px) translateX(-30px) scale(1.3);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes homescreen-icon-zone-appearance-7 {
  0% {
    opacity: 0;
    transform: translateY(30px) translateX(30px) scale(1.3);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes homescreen-icon-zone-appearance-8 {
  0% {
    opacity: 0;
    transform: translateY(30px) translateX(60px) scale(1.3);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes homescreen-icon-zone-appearance-9 {
  0% {
    opacity: 0;
    transform: translateY(60px) translateX(-60px) scale(1.3);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes homescreen-icon-zone-appearance-10 {
  0% {
    opacity: 0;
    transform: translateY(60px) translateX(-30px) scale(1.3);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes homescreen-icon-zone-appearance-11 {
  0% {
    opacity: 0;
    transform: translateY(60px) translateX(30px) scale(1.3);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes homescreen-icon-zone-appearance-12 {
  0% {
    opacity: 0;
    transform: translateY(60px) translateX(60px) scale(1.3);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes homescreen-icon-zone-appearance-13 {
  0% {
    opacity: 0;
    transform: translateY(90px) translateX(-60px) scale(1.3);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes homescreen-icon-zone-appearance-14 {
  0% {
    opacity: 0;
    transform: translateY(90px) translateX(-30px) scale(1.3);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes homescreen-icon-zone-appearance-15 {
  0% {
    opacity: 0;
    transform: translateY(90px) translateX(30px) scale(1.3);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes homescreen-icon-zone-appearance-16 {
  0% {
    opacity: 0;
    transform: translateY(90px) translateX(60px) scale(1.3);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes homescreen-icon-zone-appearance-17 {
  0% {
    opacity: 0;
    transform: translateY(120px) translateX(-60px) scale(1.3);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes homescreen-icon-zone-appearance-18 {
  0% {
    opacity: 0;
    transform: translateY(120px) translateX(-30px) scale(1.3);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes homescreen-icon-zone-appearance-19 {
  0% {
    opacity: 0;
    transform: translateY(120px) translateX(30px) scale(1.3);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes homescreen-icon-zone-appearance-20 {
  0% {
    opacity: 0;
    transform: translateY(120px) translateX(60px) scale(1.3);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes homescreen-icon-zone-appearance-21 {
  0% {
    opacity: 0;
    transform: translateY(150px) translateX(-60px) scale(1.3);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes homescreen-icon-zone-appearance-22 {
  0% {
    opacity: 0;
    transform: translateY(150px) translateX(-30px) scale(1.3);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes homescreen-icon-zone-appearance-23 {
  0% {
    opacity: 0;
    transform: translateY(150px) translateX(30px) scale(1.3);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes homescreen-icon-zone-appearance-24 {
  0% {
    opacity: 0;
    transform: translateY(150px) translateX(60px) scale(1.3);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}


.homescreen-icon-zone {
  display: flex;
  flex-direction: column;

  animation-timing-function: cubic-bezier(.15, 1, .12, 1);

  width: 50px;
  height: 58px;
}

.homescreen-icon-zone:nth-of-type(1) {
  animation-name: homescreen-icon-zone-appearance-1;
  animation-duration: 1.5s;
}

.homescreen-icon-zone:nth-of-type(2) {
  animation-name: homescreen-icon-zone-appearance-2;
  animation-duration: .6s;
}

.homescreen-icon-zone:nth-of-type(3) {
  animation-name: homescreen-icon-zone-appearance-3;
  animation-duration: .6s;
}

.homescreen-icon-zone:nth-of-type(4) {
  animation-name: homescreen-icon-zone-appearance-4;
  animation-duration: 1.5s;
}

.homescreen-icon-zone:nth-of-type(5) {
  animation-name: homescreen-icon-zone-appearance-5;
  animation-duration: 1.25s;
}

.homescreen-icon-zone:nth-of-type(6) {
  animation-name: homescreen-icon-zone-appearance-6;
  animation-duration: .8s;
}

.homescreen-icon-zone:nth-of-type(7) {
  animation-name: homescreen-icon-zone-appearance-7;
  animation-duration: .8s;
}

.homescreen-icon-zone:nth-of-type(8) {
  animation-name: homescreen-icon-zone-appearance-8;
  animation-duration: 1.25s;
}

.homescreen-icon-zone:nth-of-type(9) {
  animation-name: homescreen-icon-zone-appearance-9;
  animation-duration: 1.25s;
}

.homescreen-icon-zone:nth-of-type(10) {
  animation-name: homescreen-icon-zone-appearance-10;
  animation-duration: .9s;
}

.homescreen-icon-zone:nth-of-type(11) {
  animation-name: homescreen-icon-zone-appearance-11;
  animation-duration: .9s;
}

.homescreen-icon-zone:nth-of-type(12) {
  animation-name: homescreen-icon-zone-appearance-12;
  animation-duration: 1.25s;
}

.homescreen-icon-zone:nth-of-type(13) {
  animation-name: homescreen-icon-zone-appearance-13;
  animation-duration: 1.5s;
}

.homescreen-icon-zone:nth-of-type(14) {
  animation-name: homescreen-icon-zone-appearance-14;
  animation-duration: 1s;
}

.homescreen-icon-zone:nth-of-type(15) {
  animation-name: homescreen-icon-zone-appearance-15;
  animation-duration: 1s;
}

.homescreen-icon-zone:nth-of-type(16) {
  animation-name: homescreen-icon-zone-appearance-16;
  animation-duration: 1.5s;
}

.homescreen-icon-zone:nth-of-type(17) {
  animation-name: homescreen-icon-zone-appearance-17;
  animation-duration: 1.5s;
}

.homescreen-icon-zone:nth-of-type(18) {
  animation-name: homescreen-icon-zone-appearance-18;
  animation-duration: 1s;
}

.homescreen-icon-zone:nth-of-type(19) {
  animation-name: homescreen-icon-zone-appearance-19;
  animation-duration: 1s;
}

.homescreen-icon-zone:nth-of-type(20) {
  animation-name: homescreen-icon-zone-appearance-20;
  animation-duration: 1.5s;
}

.homescreen-icon-zone:nth-of-type(21) {
  animation-name: homescreen-icon-zone-appearance-21;
  animation-duration: 1.5s;
}

.homescreen-icon-zone:nth-of-type(22) {
  animation-name: homescreen-icon-zone-appearance-22;
  animation-duration: 1.5s;
}

.homescreen-icon-zone:nth-of-type(23) {
  animation-name: homescreen-icon-zone-appearance-23;
  animation-duration: 1.5s;
}

.homescreen-icon-zone:nth-of-type(24) {
  animation-name: homescreen-icon-zone-appearance-24;
  animation-duration: 1.5s;
}

.homescreen-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 80%;
}

.homescreen-icon-image {
  width: 40px;
  height: 40px;

  background: gold;
  border-radius: 8px;
}

.homescreen-icon-text {
  width: 100%;
  height: 20%;

  color: white;
  font-family: "SF-Pro-Display-Medium", serif;
  font-size: 9px;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 2px;
}

.content {
  display: flex;
  height: calc(100% - 42px);
}

.lockscreen-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.control-panel {
  width: 100%;
  display: flex;
  height: 10px;
  justify-content: end;
  align-items: center;
}

.control-panel-icon {
  width: 40px;
  height: 3px;
  margin-right: 27px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 3px;
}

.date {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: end;
  color: rgba(255, 255, 255, 0.75);
  font-size: 14px;
}

.clock {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 60px;
  font-family: "SF-Pro-Text-Bold", serif;
  color: rgba(255, 255, 255, 0.75);
  letter-spacing: -4px;
  margin-top: -6px;
  margin-bottom: 6px;
}

.music-player-zone {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: end;
  height: calc(100% - 190px);
}

.music-player {
  width: calc(100% - 30px);
  height: 120px;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(9px);
  border-radius: 15px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
}

.music-meta-zone {
  display: flex;
  width: 100%;
  height: 40%;
}

.music-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%;
}

.avatar {
  background: url("../cover/cover.jpeg");
  width: 80%;
  height: 80%;
  border-radius: 7px;
  background-size: cover;
}

.music-info {
  width: 80%;
  height: 100%;
  padding-top: 6px;
  padding-left: 5px;
}

.music-album {
  color: rgba(31, 31, 31, 0.66);
  font-size: 9px;
}

.music-name {
  color: #232323;
  font-size: 12px;
}

.music-author {
  color: rgba(31, 31, 31, 0.5);
  font-size: 10px;
}

.music-control-zone {
  display: flex;
  width: 100%;
  height: 20%;
  margin-top: -4px;
}

.music-track-zone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(80% - 14px);
}

.music-track {
  width: 80%;
  height: 4px;
  background: rgba(31, 31, 31, 0.3);
  border-radius: 0px 4px 4px 0px;
}

.music-track-playing {
  width: 10%;
  height: 4px;
  background: rgba(31, 31, 31, 0.6);
  border-radius: 4px 0px 0px 4px;
}

.music-control {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  font-size: 9px;
  color: rgba(31, 31, 31, 0.66);
}

.music-control:first-of-type {
  margin-left: 7px;
}

.music-control:last-of-type {
  margin-right: 7px;
}

.music-play-zone {
  display: flex;
  width: 100%;
  height: 30%;
  margin-top: -2px;
}

.music-play-control {
  width: 33.33333%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.music-play-control:first-of-type {
  padding-left: 30px;
}

.music-play-control:last-of-type {
  padding-right: 30px;
}

.music-prev-play-control {
  font-size: 12px;
  transform: scale(-1, -1);
}

.music-prev-play-control:first-of-type {
  margin-right: -1px;
}

.music-next-play-control {
  font-size: 12px;
}

.music-next-play-control:last-of-type {
  margin-left: -1px;
}

.music-sound-zone {
  width: 100%;
  height: 13%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.music-sound-control-zone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  height: 100%;
}

.music-sound-control {
  width: 93%;
  height: 4px;
  border-radius: 2px;
  background: rgba(31, 31, 31, 0.7);
}

.music-sound-label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6%;
  height: 100%;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.5);
}

.music-sound-label:first-of-type {
  margin-left: 2px;
}

.music-sound-label:last-of-type {
  margin-right: 2px;
}

.control-buttons-zone {
  display: flex;
  align-items: end;
  width: 100%;
  height: 50px;
}

.control-button-zone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.333333%;
}

.control-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  border-radius: 16px;
  background: rgba(58, 58, 58, 0.6);
  backdrop-filter: blur(5px);
}

.control-icon {
  font-size: 22px;
  color: white;
}

.swipe-gesture {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
}

.gesture-icon {
  width: 100px;
  height: 5px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
}

.nav-bar {
  display: flex;
  align-content: center;
  height: 29px;
}

.nav-operator {
  display: flex;
  align-items: end;
  justify-content: center;
  width: 30%;
  font-size: 10px;
  padding-left: 10px;
  color: white;
}

.nav-notch {
  width: 30%;
}

.nav-icons {
  display: flex;
  align-items: end;
  justify-content: center;

  padding-left: 10px;
  width: 30%;
}

.nav-icon {
  padding-right: 4px;
  font-size: 16px;
  color: white;
}

.nav-icon:last-of-type {
  padding-right: 4px;
  margin-bottom: -3px;
  font-size: 22px;
  color: white;
}
