.screen-background {
  width: calc(280px - 10px);
  height: calc(530px - 5px);
  border-radius: 35px;
  background: url("../wallpaper/default.jpg");
  background-size: cover;
  z-index: 1;
  position: fixed;
  margin-top: -2px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
