.screen-background {
  width: calc(280px - 18px);
  height: calc(530px - 18px);
  border-radius: 35px;
  background: url("../wallpaper/default.jpg") no-repeat;
  background-size: cover;
  overflow: hidden;
  z-index: 0;
}

.screen {
  width: calc(280px - 18px);
  height: calc(530px - 18px);
  border-radius: 35px;

  display: flex;
  flex-direction: column;

  overflow: hidden;

  backdrop-filter: blur(0px);
}

.content {
  display: flex;
  height: calc(100% - 42px);
}

.lockscreen-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.control-panel {
  width: 100%;
  display: flex;
  height: 10px;
  justify-content: end;
  align-items: center;
}

.control-panel-icon {
  width: 40px;
  height: 3px;
  margin-right: 27px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 3px;
}

.date {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: end;
  color: rgba(255, 255, 255, 0.75);
  font-size: 14px;
}

.clock {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 60px;
  font-family: "SF-Pro-Text-Bold", serif;
  color: rgba(255, 255, 255, 0.75);
  letter-spacing: -4px;
  margin-top: -6px;
  margin-bottom: 6px;
}

.music-player-zone {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: end;
  height: calc(100% - 190px);
}

.music-player {
  width: calc(100% - 30px);
  height: 120px;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(9px);
  border-radius: 15px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
}

.music-meta-zone {
  display: flex;
  width: 100%;
  height: 40%;
}

.music-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%;
}

.avatar {
  background: url("../cover/cover.jpeg");
  width: 80%;
  height: 80%;
  border-radius: 7px;
  background-size: cover;
}

.music-info {
  width: 80%;
  height: 100%;
  padding-top: 6px;
  padding-left: 5px;
}

.music-album {
  color: rgba(31, 31, 31, 0.66);
  font-size: 9px;
}

.music-name {
  color: #232323;
  font-size: 12px;
}

.music-author {
  color: rgba(31, 31, 31, 0.5);
  font-size: 10px;
}

.music-control-zone {
  display: flex;
  width: 100%;
  height: 20%;
  margin-top: -4px;
}

.music-track-zone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(80% - 14px);
}

.music-track {
  width: 80%;
  height: 4px;
  background: rgba(31, 31, 31, 0.3);
  border-radius: 0px 4px 4px 0px;
}

.music-track-playing {
  width: 10%;
  height: 4px;
  background: rgba(31, 31, 31, 0.6);
  border-radius: 4px 0px 0px 4px;
}

.music-control {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  font-size: 9px;
  color: rgba(31, 31, 31, 0.66);
}

.music-control:first-of-type {
  margin-left: 7px;
}

.music-control:last-of-type {
  margin-right: 7px;
}

.music-play-zone {
  display: flex;
  width: 100%;
  height: 30%;
  margin-top: -2px;
}

.music-play-control {
  width: 33.33333%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.music-play-control:first-of-type {
  padding-left: 30px;
}

.music-play-control:last-of-type {
  padding-right: 30px;
}

.music-prev-play-control {
  font-size: 12px;
  transform: scale(-1, -1);
}

.music-prev-play-control:first-of-type {
  margin-right: -1px;
}

.music-next-play-control {
  font-size: 12px;
}

.music-next-play-control:last-of-type {
  margin-left: -1px;
}

.music-sound-zone {
  width: 100%;
  height: 13%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.music-sound-control-zone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  height: 100%;
}

.music-sound-control {
  width: 93%;
  height: 4px;
  border-radius: 2px;
  background: rgba(31, 31, 31, 0.7);
}

.music-sound-label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6%;
  height: 100%;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.5);
}

.music-sound-label:first-of-type {
  margin-left: 2px;
}

.music-sound-label:last-of-type {
  margin-right: 2px;
}

.control-buttons-zone {
  display: flex;
  align-items: end;
  width: 100%;
  height: 50px;
}

.control-button-zone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.333333%;
}

.control-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  border-radius: 16px;
  background: rgba(58, 58, 58, 0.6);
  backdrop-filter: blur(5px);
}

.control-icon {
  font-size: 22px;
  color: white;
}

.swipe-gesture {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
}

.gesture-icon {
  width: 100px;
  height: 5px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
}

.nav-bar {
  display: flex;
  align-content: center;
  height: 22px;
}

.nav-operator {
  display: flex;
  align-items: end;
  justify-content: center;
  width: 30%;
  font-size: 10px;
  padding-left: 10px;
  color: white;
}

.nav-notch {
  width: 30%;
}

.nav-icons {
  display: flex;
  align-items: end;
  justify-content: center;

  padding-left: 10px;
  width: 30%;
}

.nav-icon {
  padding-right: 4px;
  font-size: 16px;
  color: white;
}

.nav-icon:last-of-type {
  padding-right: 4px;
  margin-bottom: -3px;
  font-size: 22px;
  color: white;
}
