.lockscreen {
  width: calc(100% - 8px);
  height: calc(100% - 14px);

  display: flex;
  flex-direction: column;
  overflow: hidden;

  transition-property: transform, -webkit-backdrop-filter;
  transition-duration: .4s;
  transition-timing-function: ease-in;
}
