.homescreen-pages {
  display: inherit;
  width: calc(540px);
  height: calc(530px - 5px);

  transition-property: transform;
  transition-duration: 0.4s;
}

.homescreen {
  width: calc(280px - 10px);
  height: calc(530px - 30px);

  display: flex;
  flex-direction: column;

  transition-property: transform, -webkit-backdrop-filter;
  transition-duration: .4s;
  transition-timing-function: ease-in;
  position: absolute;
  z-index: 0;
}

.homescreen-dots-zone {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homescreen-dot-active {
  width: 6px;
  height: 6px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 3px;
  margin-right: 4px;
}

.homescreen-dot-inactive {
  width: 6px;
  height: 6px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  margin-right: 4px;
}

@keyframes homescreen-dock-zone-appearance {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.homescreen-dock-zone {
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3px;

  animation-timing-function: cubic-bezier(.15, 1, .12, 1);
  animation-name: homescreen-dock-zone-appearance;
  animation-duration: 1.5s;
}

.homescreen-dock {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(5px);
  border-radius: 20px;
}

.homescreen-dock-icon {
  width: 40px;
  height: 40px;
  border-radius: 9px;
}

.homescreen-dock-icon.music {
  background: url("icons/music.png");
  background-size: cover;
}

.homescreen-dock-icon.message {
  background: url("icons/message.png");
  background-size: cover;
}

.homescreen-dock-icon.safari {
  background: url("icons/safari.png");
  background-size: cover;
}

.homescreen-dock-icon.phone {
  background: url("icons/phone.png");
  background-size: 100% auto;
}

.homescreen-dock-icon:not(:first-of-type) {
  margin-left: 20px;
}

.homescreen-icons-zone {
  width: calc(270px - 30px);
  height: calc(100% - 160px);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 5px 0px;
  justify-items: center;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 20px;
}

@keyframes homescreen-icon-zone-appearance-1 {
  0% {
    opacity: 0;
    transform: translateY(50px) translateX(-30px) scale(1.3);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes homescreen-icon-zone-appearance-2 {
  0% {
    opacity: 0;
    transform: translateY(50px) translateX(-30px) scale(1.3);
  }

  25% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes homescreen-icon-zone-appearance-3 {
  0% {
    opacity: 0;
    transform: translateY(50px) translateX(30px) scale(1.3);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes homescreen-icon-zone-appearance-4 {
  0% {
    opacity: 0;
    transform: translateY(50px) translateX(60px) scale(1.3);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes homescreen-icon-zone-appearance-5 {
  0% {
    opacity: 0;
    transform: translateY(80px) translateX(-60px) scale(1.3);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes homescreen-icon-zone-appearance-6 {
  0% {
    opacity: 0;
    transform: translateY(80px) translateX(-30px) scale(1.3);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes homescreen-icon-zone-appearance-7 {
  0% {
    opacity: 0;
    transform: translateY(80px) translateX(30px) scale(1.3);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes homescreen-icon-zone-appearance-8 {
  0% {
    opacity: 0;
    transform: translateY(80px) translateX(60px) scale(1.3);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes homescreen-icon-zone-appearance-9 {
  0% {
    opacity: 0;
    transform: translateY(110px) translateX(-60px) scale(1.3);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes homescreen-icon-zone-appearance-10 {
  0% {
    opacity: 0;
    transform: translateY(110px) translateX(-30px) scale(1.3);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes homescreen-icon-zone-appearance-11 {
  0% {
    opacity: 0;
    transform: translateY(110px) translateX(30px) scale(1.3);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes homescreen-icon-zone-appearance-12 {
  0% {
    opacity: 0;
    transform: translateY(110px) translateX(60px) scale(1.3);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes homescreen-icon-zone-appearance-13 {
  0% {
    opacity: 0;
    transform: translateY(140px) translateX(-60px) scale(1.3);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes homescreen-icon-zone-appearance-14 {
  0% {
    opacity: 0;
    transform: translateY(140px) translateX(-30px) scale(1.3);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes homescreen-icon-zone-appearance-15 {
  0% {
    opacity: 0;
    transform: translateY(140px) translateX(30px) scale(1.3);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes homescreen-icon-zone-appearance-16 {
  0% {
    opacity: 0;
    transform: translateY(140px) translateX(60px) scale(1.3);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes homescreen-icon-zone-appearance-17 {
  0% {
    opacity: 0;
    transform: translateY(170px) translateX(-60px) scale(1.3);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes homescreen-icon-zone-appearance-18 {
  0% {
    opacity: 0;
    transform: translateY(170px) translateX(-30px) scale(1.3);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes homescreen-icon-zone-appearance-19 {
  0% {
    opacity: 0;
    transform: translateY(170px) translateX(30px) scale(1.3);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes homescreen-icon-zone-appearance-20 {
  0% {
    opacity: 0;
    transform: translateY(170px) translateX(60px) scale(1.3);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes homescreen-icon-zone-appearance-21 {
  0% {
    opacity: 0;
    transform: translateY(200px) translateX(-60px) scale(1.3);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes homescreen-icon-zone-appearance-22 {
  0% {
    opacity: 0;
    transform: translateY(200px) translateX(-30px) scale(1.3);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes homescreen-icon-zone-appearance-23 {
  0% {
    opacity: 0;
    transform: translateY(200px) translateX(30px) scale(1.3);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes homescreen-icon-zone-appearance-24 {
  0% {
    opacity: 0;
    transform: translateY(200px) translateX(60px) scale(1.3);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}


.homescreen-icon-zone {
  display: flex;
  flex-direction: column;

  animation-delay: .15s;
  opacity: 0;
  animation-timing-function: cubic-bezier(.15, 1, .12, 1);

  width: 50px;
  height: 58px;
}

.homescreen-icon-zone:nth-of-type(1) {
  animation-name: homescreen-icon-zone-appearance-1;
  animation-duration: 1.5s;
}

.homescreen-icon-zone:nth-of-type(2) {
  animation-name: homescreen-icon-zone-appearance-2;
  animation-duration: 1s;
}

.homescreen-icon-zone:nth-of-type(3) {
  animation-name: homescreen-icon-zone-appearance-3;
  animation-duration: 1s;
}

.homescreen-icon-zone:nth-of-type(4) {
  animation-name: homescreen-icon-zone-appearance-4;
  animation-duration: 1.5s;
}

.homescreen-icon-zone:nth-of-type(5) {
  animation-name: homescreen-icon-zone-appearance-5;
  animation-duration: 1.4s;
}

.homescreen-icon-zone:nth-of-type(6) {
  animation-name: homescreen-icon-zone-appearance-6;
  animation-duration: 1.1s;
}

.homescreen-icon-zone:nth-of-type(7) {
  animation-name: homescreen-icon-zone-appearance-7;
  animation-duration: 1.1s;
}

.homescreen-icon-zone:nth-of-type(8) {
  animation-name: homescreen-icon-zone-appearance-8;
  animation-duration: 1.4s;
}

.homescreen-icon-zone:nth-of-type(9) {
  animation-name: homescreen-icon-zone-appearance-9;
  animation-duration: 1.4s;
}

.homescreen-icon-zone:nth-of-type(10) {
  animation-name: homescreen-icon-zone-appearance-10;
  animation-duration: 1.25s;
}

.homescreen-icon-zone:nth-of-type(11) {
  animation-name: homescreen-icon-zone-appearance-11;
  animation-duration: 1.25s;
}

.homescreen-icon-zone:nth-of-type(12) {
  animation-name: homescreen-icon-zone-appearance-12;
  animation-duration: 1.4s;
}

.homescreen-icon-zone:nth-of-type(13) {
  animation-name: homescreen-icon-zone-appearance-13;
  animation-duration: 2s;
}

.homescreen-icon-zone:nth-of-type(14) {
  animation-name: homescreen-icon-zone-appearance-14;
  animation-duration: 1.5s;
}

.homescreen-icon-zone:nth-of-type(15) {
  animation-name: homescreen-icon-zone-appearance-15;
  animation-duration: 1.5s;
}

.homescreen-icon-zone:nth-of-type(16) {
  animation-name: homescreen-icon-zone-appearance-16;
  animation-duration: 2s;
}

.homescreen-icon-zone:nth-of-type(17) {
  animation-name: homescreen-icon-zone-appearance-17;
  animation-duration: 2s;
}

.homescreen-icon-zone:nth-of-type(18) {
  animation-name: homescreen-icon-zone-appearance-18;
  animation-duration: 1.75s;
}

.homescreen-icon-zone:nth-of-type(19) {
  animation-name: homescreen-icon-zone-appearance-19;
  animation-duration: 1.75s;
}

.homescreen-icon-zone:nth-of-type(20) {
  animation-name: homescreen-icon-zone-appearance-20;
  animation-duration: 2s;
}

.homescreen-icon-zone:nth-of-type(21) {
  animation-name: homescreen-icon-zone-appearance-21;
  animation-duration: 2s;
}

.homescreen-icon-zone:nth-of-type(22) {
  animation-name: homescreen-icon-zone-appearance-22;
  animation-duration: 2s;
}

.homescreen-icon-zone:nth-of-type(23) {
  animation-name: homescreen-icon-zone-appearance-23;
  animation-duration: 2s;
}

.homescreen-icon-zone:nth-of-type(24) {
  animation-name: homescreen-icon-zone-appearance-24;
  animation-duration: 2s;
}

.homescreen-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 80%;
}

.homescreen-icon-image {
  width: 40px;
  height: 40px;

  border-radius: 9px;
}

.homescreen-icon-image.appstore {
  background: url("icons/appstore.png");
  background-size: 100% auto;
}

.homescreen-icon-image.camera {
  background: url("icons/camera.png");
  background-size: 100% auto;
}

.homescreen-icon-image.health {
  background: url("icons/health.png");
  background-size: 100% auto;
}

.homescreen-icon-image.twitter {
  background: url("icons/twitter.png");
  background-size: 100% auto;
}

.homescreen-icon-image.books {
  background: url("icons/books.png");
  background-size: 100% auto;
}

.homescreen-icon-image.calculator {
  background: url("icons/calculator.png");
  background-size: 100% auto;
}

.homescreen-icon-image.files {
  background: url("icons/files.png");
  background-size: 100% auto;
}

.homescreen-icon-image.mail {
  background: url("icons/mail.png");
  background-size: 100% auto;
}

.homescreen-icon-image.instagram {
  background: url("icons/instagram.png");
  background-size: 100% auto;
}

.homescreen-icon-image.wallet {
  background: url("icons/wallet.png");
  background-size: 100% auto;
}

.homescreen-icon-image.vlc {
  background: url("icons/vlc.png");
  background-size: 100% auto;
}

.homescreen-icon-image.whatsapp {
  background: url("icons/whatsapp.png");
  background-size: 100% auto;
}

.homescreen-icon-image.telegram {
  background: url("icons/telegram.png");
  background-size: 100% auto;
}

.homescreen-icon-image.vk {
  background: url("icons/vk.png");
  background-size: 100% auto;
}

.homescreen-icon-image.spotify {
  background: url("icons/spotify.png");
  background-size: 100% auto;
}

.homescreen-icon-image.netflix {
  background: url("icons/netflix.png");
  background-size: 100% auto;
}

.homescreen-icon-image.news {
  background: url("icons/news.png");
  background-size: 100% auto;
}

.homescreen-icon-image.notes {
  background: url("icons/notes.png");
  background-size: 100% auto;
}

.homescreen-icon-image.settings {
  background: url("icons/settings.png");
  background-size: 100% auto;
}

.homescreen-icon-image.facetime {
  background: url("icons/facetime.png");
  background-size: 100% auto;
}

.homescreen-icon-image.stocks {
  background: url("icons/stocks.png");
  background-size: 100% auto;
}

.homescreen-icon-image.aliexpress {
  background: url("icons/aliexpress.png");
  background-size: 100% auto;
}

.homescreen-icon-image.chrome {
  background: url("icons/chrome.png");
  background-size: 100% auto;
}

.homescreen-icon-image.weather {
  background: url("icons/weather.png");
  background-size: 100% auto;
}

.homescreen-icon-image.youtube {
  background: url("icons/youtube.png");
  background-size: 100% auto;
}

.homescreen-icon-text {
  width: 100%;
  height: 20%;

  color: white;
  font-family: "SF-Pro-Display-Medium", serif;
  font-size: 9px;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 2px;
}
