body {
  margin: 0;
  font-family: SF-Pro-Display-Bold, Serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

*,
*:active,
*:hover {
  cursor: none;
  user-select: none;
}
